*{
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color:#ffff;
}
html{
   overflow-x: hidden;
}
:root {
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}


.gradient-text {
  background: conic-gradient(at top, #3287e9,   /* blue-300 */#8fa6e4    /* blue-700 */);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.icon{
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #e8e1e176;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--secondary-bg);
}

  

